.alert-container {
    position: relative;
  }
  
  .alert-box {
    background: #ffffff;
    border-radius: 14px;
    border-style: solid;
    border-color: #00b031;
    border-width: 1px;
    width: 157px;
    height: 178px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .alert-icon {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 59px;
    top: 26px;
    overflow: visible;
  }
  
  .alert-text {
    color: #00b031;
    text-align: left;
    font-family: "Acorn-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 42px;
    top: 78px;
  }
  
  .alert-status {
    width: 60px;
    height: 19px;
    position: static;
  }
  
  .alert-status-indicator {
    background: #00b031;
    border-radius: 11.5px;
    width: 60px;
    height: 19px;
    position: absolute;
    left: 48px;
    top: 144px;
  }
  
  .alert-status-text {
    color: #ffffff;
    text-align: left;
    font-family: "Acorn-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 70px;
    top: 154px;
  }
  
  .alert-message {
    color: #3a3a3a;
    text-align: center;
    font-family: "Acorn-Medium", sans-serif;
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
    position: absolute;
    left: 27px;
    top: 106px;
  }
  