@import url(./font/stylesheet.css);

body {
  width: 100%;
  height: auto;
  margin: 0px auto;
  font-family: "Acorn_r";
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b2b2b;
  color: #525252;

  --black: #525252;
  --white: #fff;
  --green: #73b704;
  --orange: #ff6b01;

  --main_struct: 95%;
}

* {
  outline: none;
  user-select: none;
}

main {
  background: white;
  width: 400px;
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  @media all and (max-width: 400px) {
    width: 100%;
  }

  .main_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    position: relative;
  }

  .main_struct {
    display: block;
    width: 95%;
    position: relative;
    // border: 1px solid;
  }

  .panierBox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #f8f8f8;
    z-index: 50;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    &__struct {
      display: block;
      width: var(--main_struct);

      padding-top: 20px;

      .perper {
        position: absolute;
        right: 2%;
        width: 35%;
        top: 0%;
        @media all and (min-width: 400px) {
          display: none;
        }
      }

      h2 {
        font-size: 1.875em;
        margin: 0 0;
        margin-bottom: 0.2em;
        margin-top: 0.5em;
      }

      h4 {
        color: #7e7e7e;
        margin: 0 0;
        font-size: 1.8em;
        font-weight: normal;
      }

      .BoxTotal {
        display: block;
        margin-top: 3em;
        .text1 {
          font-size: 1.125em;
          font-weight: 200;
          color: var(--green);
        }
        .value {
          font-size: 3.125em;
          font-weight: 600;
          color: var(--green);
          position: relative;
          display: inline-block;
          width: auto;

          &:after {
            content: attr(item);
            position: absolute;
            bottom: 0;
            right: 0%;
            transform: translateY(-65%) translateX(110%);
            font-weight: normal;
            color: var(--green);
            font-size: 0.3em;

            content: attr(devise);
          }
        }
      }
    }

    .panierList {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      background: var(--white);
      border-radius: 31px;
      height: auto;
      margin-top: 0em;
      margin-bottom: 20vh;
      &__struct {
        width: var(--main_struct);
        // border: 1px solid;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .item {
          background: #f8f8f8;
          border-radius: 20px;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          display: grid;
          place-items: center;
          &__struct {
            width: 95%;
            display: flex;
            justify-content: flex-start;
            gap: 0.5em;
            align-items: center;

            position: relative;

            .nbre {
              background: var(--white);
              border-radius: 22px;
              width: 2.794375em;
              height: 2.096875em;
              color: var(--green);
              display: grid;
              place-items: center;
            }
            .item_name {
              font-size: 14px;
              font-weight: bold;

              width: 50%;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
            }

            .item_price {
              padding-left: 10px;
              padding-right: 10px;
              width: auto;
              line-height: 2.3em;
            }

            .delete {
              position: absolute;
              top: 50%;
              right: 0%;
              transform: translateY(-50%);

              background: #f7efea;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              display: grid;
              place-items: center;

              svg {
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
}

.welcome_side {
  position: relative;
  margin-top: 20px;
  width: 100%;

  font-size: 1.25em;

  .g1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .t1 {
      color: var(--black);
    }

    .openTag {
      padding: 7px 10px;
      margin-left: 0.5em;
      flex-shrink: 0;
      border-radius: 15em;
      background: #e7f4d1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--green);

      .text {
        font-size: 0.6em;
        line-height: 1em;
      }

      .dot {
        display: inline-block;
        width: 0.35rem;
        height: 0.35rem;
        flex-shrink: 0;
        border-radius: 50%;
        background: var(--green);
        margin-left: 0.3em;
        margin-right: 0.3em;
      }

      .ico svg {
        width: 0.7em;
        // transform: translateY(-10%);
      }
    }

    .close {
      background: #fef3f1;
      color: #d52d1a;

      .dot {
        background: #d52d1a;
      }
      .ico svg path {
        stroke: #d52d1a;
      }
    }
  }

  .resto_name {
    margin: 10px 0px;
    margin-bottom: 5px;
    color: var(--orange);
    line-height: 1em;
    font-size: 1.7em;
  }

  .bar_action {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .call {
      width: 2.85rem;
      height: 2.85rem;
      border-radius: 50%;
      flex-shrink: 0;
      background: #e7f4d1;
      display: grid;
      place-items: center;

      .struct {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background: var(--green);
        display: grid;
        place-items: center;
        svg {
          width: 50%;
        }
      }
    }

    .location {
      height: 2.3rem;
      width: 6rem;
      border-radius: 30em;
      text-decoration: none;
      margin-left: 0.3em;

      background-color: #e7f4d1;
      padding-left: 8px;
      padding-right: 8px;

      display: flex;
      justify-content: center;
      align-items: center;

      .ico {
        width: 3em;
        margin-right: 0.2em;
        transform: translateY(-2%);
      }
      .text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: var(--green);
        font-size: 0.8rem;
      }
    }

    .info {
      height: 2.3rem;
      width: 2.3rem;
      border-radius: 50%;
      background-color: #f5f5f5;
      margin-left: 0.3em;
      display: grid;
      place-items: center;
      svg {
        width: 50%;
      }
    }
  }
}

.bar_search {
  margin-top: 15px;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;

  .input_search {
    width: 100%;
    height: 3.1625rem;
    flex-shrink: 0;

    border-radius: 2em;
    border: 1px solid #e7f4d1;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

    display: grid;
    place-items: center;

    .input_search_containt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 93%;
      input {
        background: none;
        border: none;
        font-family: "Acorn_r";
        width: 80%;
      }

      .ico {
        width: 2.4375rem;
        height: 1.9375rem;
        border-radius: 0.96875rem;
        background: var(--green);

        display: grid;
        place-items: center;

        border: none;

        svg {
          width: 100%;
        }
      }
    }

    z-index: 1;
  }

  .image_3d {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 35%;
    transform: translateX(-2%);
    z-index: 0;
  }
}

.part_title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}

.categories {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-top: 1em;

  .categories_container {
    display: flex;
    width: max-content;
    gap: 0.3em;

    .category {
      width: auto;
      padding: 0 10px;
      height: 2rem;
      flex-shrink: 0;
      display: grid;
      place-items: center;
      border-radius: 2.5rem;
      line-height: 1em;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &:first-child {
        margin-left: 3%;
      }
      &:last-child {
        margin-right: 40px;
      }
    }

    .active {
      background: var(--orange);
      border: none;
      color: var(--white);
    }
  }
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  margin-top: 0.5em;

  .menu {
    width: 100%;
    height: 7.75rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: #fff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.17);


    display: grid;
    place-items: center;

    .menu_struct {
      width: 95%;
      height: 87%;

      display: flex;
      justify-content: space-between;

      .menu_img {
        height: 100%;
        width: 35%;
        overflow: hidden;
        border-radius: 1.2rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .menu_info {
        display: block;
        width: 65%;
        margin-left: 0.5em;
        padding-top: 0.3em;

        &__name {
          font-size: 1em;
          font-weight: bold;
        }

        &__description {
          font-size: 0.6em;
          line-height: 1.1em;
          color: #7e7e7e;
          margin-top: 0.3em;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }

        &__price {
          display: block;
          font-weight: bold;
          color: var(--orange);
          margin-top: 0.4em;
        }

        .menu_plus {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.center_container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.menu_preparation_time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // padding-left: 5px;
  // padding-right: 5px;

  width: auto;
  height: 0.305rem;
  flex-shrink: 0;

  border-radius: 20px;
  background: #f6f6f6;
  svg {
    width: 1em;
  }

  .text {
    font-size: 0.7em;
    line-height: 1em;
    transform: translateY(17%);
    margin-left: 0.3em;
  }
}

.menu_user_view {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 0.95em;
    display: inline-block;
    transform: translateY(-2px);
  }

  .text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    line-height: auto;
    color: #7e7e7e;
    margin-left: 0.2em;

    span {
      font-weight: 300;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.6875rem;
  height: 2.4375rem;
  flex-shrink: 0;

  border-radius: 1.21875rem;
  border: 1px solid var(--orange);
  background: #fff;

  color: var(--orange);
  .text,
  svg {
    display: inline-block;
  }

  svg {
    margin-left: 0.5em;
  }
}

.table_box {
  position: fixed;
  bottom: 10%;
  left: 0px;

  width: 2.6875rem;
  height: 7.25rem;
  flex-shrink: 0;
  text-align: center;
  border-radius: 0rem 1.34375rem 1.34375rem 0rem;
  background: #73b704;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);

  color: var(--white);
  writing-mode: vertical-lr;
  font-size: 1.2em;
  line-height: 1.8em;
  text-transform: uppercase;
}

.panier_ico {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;

  border-radius: 1rem;
  background: #f7efea;
  box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.14);
  display: grid;
  place-items: center;
  svg {
    width: 60%;
  }

  &:after {
    content: attr(item);
    position: absolute;
    top: 0;
    right: 0%;
    transform: translateY(-50%);
    width: 0.875rem;
    height: 0.875rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--orange);
    color: var(--white);
    font-size: 0.5em;
    display: grid;
    place-items: center;
  }
}

.rounded_btn {
  display: grid;
  place-items: center;

  border-radius: 50%;
  width: 63px;
  height: 63px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
}

.AboutResto {
  display: grid;
  place-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 50;
  background: rgba(0, 0, 0, 0.603);

  * {
    transition: all 0.3s ease;
  }

  .layerOff {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .action_close {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    color: var(--orange);
    background: var(--white);
  }

  .aboutStruct {
    display: block;

    width: 80%;
    height: auto;
    border-radius: 27px;
    background: white;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .aboutImg {
      width: 100%;
      border-radius: 27px;
      height: 260px;
      overflow: hidden;
      position: relative;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .aboutText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;

      &__struct {
        width: 90%;
        display: block;
        // border: 1px solid black;

        h2 {
          color: var(--orange);
          margin: 0px 0px;
          margin-top: 15px;
        }

        p {
          color: var(--black);
          text-align: justify;
          margin-top: 5px;
          font-size: 13px;
          font-family: "Acorn_r";
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }

        .btn_read {
          width: 100%;
          display: grid;
          place-items: center;
          margin-bottom: 30px;
          margin-top: 10px;
          font-family: "Acorn_r";
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.btnRead {
  display: grid;
  place-items: center;
  background: var(--orange);
  border-radius: 18.5px;
  width: 60%;
  height: 3em;
  color: var(--white);
  border: none;
  font-size: 1em;
  font-family: "Acorn_r";
}

.menuDetails {
  .menu_img {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 35vh;
    position: relative;
   
      .img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s ease;
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
   
  }

  .menuInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--white);
    width: 100%;
    border-radius: 31px 31px 0px 0px;
    position: relative;
    transform: translateY(-50px);
    padding-top: 20px;

    .actionMenuPage {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-80%);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      z-index: 10;

      .btn_share {
        background: var(--orange);
      }
      .btn_close {
        background-color: var(--white);
      }
    }

    &__struct {
      display: block;
      width: 90%;
      position: relative;
      // border: 1px solid;

      .menu_stat {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
      }

      .menu_title {
        color: var(--orange);
        text-align: left;
        font-size: 1.875em;
        line-height: 1em;
        font-weight: 600;
        margin: 0 0;
        margin-top: 0.5em;
      }

      .acountable {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
        width: 100%;

        .pricing {
          .price {
            display: block;
            position: relative;
            font-size: 2.1875em;
            font-weight: 600;
            &::after {
              content: attr(device);
              position: absolute;
              top: 0px;
              right: 0;
              transform: translateX(100%) translateY(-50%);
              font-size: 0.4em;
            }
          }
        }

        .form {
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;
          .input_box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 22px;
            border-style: solid;
            border-color: rgba(126, 126, 126, 0.3);
            border-width: 1px;
            width: 5.5em;
            height: 2.75em;

            .btnInput {
              font-size: 0.8em;
              font-weight: 600;
              display: grid;
              place-items: center;
              border-radius: 25px;
              width: 15px;
              height: 15px;
              line-height: 1.3em;
            }

            .subtract {
              background: #f7efea;
              color: var(--orange);
            }
            .add {
              background: #e7f4d1;
              color: #73b704;
            }
          }
          .addToBasket {
            background: #73b704;
            border-radius: 22px;
            width: 79px;
            height: 44px;
            position: relative;
            color: var(--white);
            display: grid;
            place-items: center;
          }
        }
      }

      .MenuDescription {
        display: block;
        text-align: justify;
        padding-top: 1em;
        margin-top: 1em;
        border-top: 1px solid rgba(204, 204, 204, 0.5);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: inherit;
        overflow: hidden;
        white-space: pre-line;
        color: #7e7e7e;

        padding-bottom: 73px;
      }
    }
  }
}

.box_btn_command {
  background: #f7efea;
  border-radius: 36.5px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  height: 73px;
  position: fixed;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.252);
  width: 90%;
  display: grid;
  place-items: center;

  *{
    transition: all 0.3s ease;
  }

  &__struct {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .totalPanier {
      display: block;
      .text {
        font-size: 0.75em;
        font-weight: 500;
      }
      .total {
        font-size: 1.875em;

        font-weight: 600;
        position: relative;

        &::after {
          content: attr(devise);
          position: absolute;
          top: 0px;
          right: 0;
          transform: translateX(100%) translateY(-50%);
          font-size: 0.4em;
        }
      }
    }

    .btn_command {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--orange);
      border-radius: 22px;
      width: 8.875em;
      height: 2.75em;
      color: var(--white);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.37);
      .text {
        font-size: 0.875em;
      }
      .ico {
        width: 1.0625em;
      }
    }
  }
}

.btn_close_panier {
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 50%;
  background: white;

  width: 40px;
  height: 40px;

  svg {
    width: 30%;
  }
}
